albumentations
bcrypt
editdistance
flask
flask-bcrypt
flask-cors
Flask-JWT-Extended
flask-mongoengine
flask-RESTful
h5py
mongoengine
numpy
opencv-python
pyclipper
requests
shapely
tensorboard
tensorflow